.CartWidget {
  width: auto;
  height: 20rem;
  padding: 12px;
  border-radius: 8px;
  display: flex;
  align-self: center;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border: none;
  border-style: none;
  cursor: pointer;
}

.CartWidget > .CartImg {
  margin-right: 10px;
  float: right;
  max-height: 10%;
  width: auto;
  object-fit: fill;
}
