.Navbar {
  padding: 10px;
  max-height: 5rem;
  display: flex;
  align-self: center;
  justify-content: center;
  align-items: center;
  background: rgb(49, 172, 243);
}

.Navbar > .nav-title {
  margin: 15px;
  padding: 10px;
  font-weight: 600;
  font-size: 20px;
  color: white;
}
.Navbar > .nav-items {
  margin: 15px;
  padding: 10px;
  text-decoration: none;
}
